<section class="w3l-portfolio-8 py-5">
    <div class="portfolio-main py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Galeri</h6>
                <h3 class="title-big">Düğünlerimiz</h3>
            </div>
            <div class="row galler-top mt-lg-5 mt-4">
                <div class="col-md-3 col-6 protfolio-item hover14 align-self">
                    <a href="~/pizzapan-starter/pexels-asad-photo-maldives-169190.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/pexels-min-an-758898.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 col-6 protfolio-item hover14">
                    <a href="~/pizzapan-starter/pexels-asad-photo-maldives-169190.jpg" data-lightbox="example-set" class="mb-4"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/pexels-emir-kaan-okutan-2403568.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="~/pizzapan-starter/pexels-i̇brahim-hakkı-uçman-3342697.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/pexels-emma-bauso-3585798.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 col-6 protfolio-item hover14">
                    <a href="~/pizzapan-starter/pexels-jeremy-wong-1082024.jpg" data-lightbox="example-set" class="mb-4"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/pexels-jonathan-borba-3014856.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                    <a href="~/pizzapan-starter/pexels-min-an-758898.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/pexels-terje-sollie-313707.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
                <div class="col-md-3 col-6 protfolio-item hover14 align-self">
                    <a href="~/pizzapan-starter/pexels-asad-photo-maldives-169190.jpg" data-lightbox="example-set"
                       data-title="lorem ipsum dolor sit amet">
                        <figure>
                            <img src="~/pizzapan-starter/pexels-asad-photo-maldives-169190.jpg" alt="product" class="img-fluid radius-image">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

