<section class="w3l-about1 py-5" id="intro">
    <div class="new-block top-bottom py-lg-5 py-md-4">
        <div class="container">
            <div class="title-content text-center">
                <h6 class="sub-title">Biz Kimiz ?</h6>
                <h3 class="title-big">Hakkımızda</h3>
            </div>
            <div class="row mt-lg-5 mt-4">
                <div class="col-md-6 middle-section text-center align-self">
                    <div class="section-width mb-lg-4 py-4">
                        <h2>Düğün işi Bizden Sorulur</h2>
                        <p class="mt-4">
                            Yıllardan süregelen deneyimimiz ile siz müşterilerimizin en özel gününüzde en güzel olanaklar ile hizmet vermeye devam ediyoruz
                        </p>
                    </div>
                    <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center">
                        <span class="video-play-icon">
                            <span class="fa fa-play"></span>
                        </span>
                    </a>

                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                        <iframe src="https://www.youtube.com/embed/BB7OgBDv1Yw" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
