
@{
    Layout = null;
}

<section class="w3l-block py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 align-self">
                <h3>Düğün Sezonu İndirimleri</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Kır ve Sahil düğünlerimizde kampanyalarımız mevcuttur kampanyalardan faydalanmak için bizle iletişime geçebilirsiniz. Kampanyalarımız bitmeden pişman olmadan bizlere ulaşınız
                </p>
                <a href="/Services/Index/" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-shopping-cart mr-2"></span> İncele</a>
            </div>
            <div class="col-lg-4 col-md-6 align-self mt-md-0 mt-5">
                <h3>İndirimler</h3>
                <p class="mt-md-4 mt-3 mb-0">
                    Kapalı salon düğünlerimizde geçerli olan indirimlerden faydalanmak isterseniz bizimle ileetişime geçebilirsiniz

                </p>
                <a href="/Services/Index/" class="btn-style btn-primary btn mt-lg-5 mt-4"><span class="fa fa-shopping-cart mr-2"></span> İncele</a>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
                <img src="/pizzapan-starter/pexels-asad-photo-maldives-169190.jpg" class="img-fluid radius-image" alt="image">
            </div>
        </div>
    </div>
</section>

