<section class="w3l-banner" id="banner" style="background-color:black">
    <div class="new-block py-5">
        <div class="container">
            <div class="row middle-section">
                <div class="col-lg-7 section-width align-self">
                    <h5>@ViewBag.title1</h5>
                    <h2>@ViewBag.title2</h2>
                    <a href="/Services/Index/" class="btn btn-secondary btn-outline-style mt-md-5 mt-4">
                        Hizmetler
                    </a>
                </div>
                <div class="col-lg-5 history-info mt-lg-0 mt-5 pt-lg-0 pt-md-4">
                    <img src="~/pizzapan-starter/pexels-i̇brahim-hakkı-uçman-3342697.jpg" class="img-fluid"
                         alt="image">
                    <div class="cost">
                        <h5>Güzel</h5>
                        <h3> Günlere</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
